NODE_ENV=development
PORT=3001
JWT_SECRET=replace_with_secret
JWT_EXPIRES_IN=1d

DB_HOST=localhost
DB_PORT=5432
DB_NAME=content_broadcasting
DB_USER=postgres
DB_PASSWORD=postgres

UPLOAD_DIR=uploads
MAX_FILE_SIZE_MB=10

UPLOAD_PROVIDER=local
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=replace_with_access_key
AWS_SECRET_ACCESS_KEY=replace_with_secret_key
AWS_BUCKET_NAME=replace_with_bucket_name
